// Home

//
// Common
// __________________

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 8%;
  padding: 70px 50px 50px;
  width: 80%;
  max-width: 1340px;
}

//
// Mobile
// __________________

@media screen and (max-width: 767) {
  .movies {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
