// Home

//
// Common
// __________________

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.movies {
  position: relative;
}

//
// Mobile
// __________________

@media screen and (max-width: 767px) {
  .container {
    margin: 50px 0 100px;
  }
  .movies {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

//
// Desktop
// __________________

@media screen and (min-width: 768px) {
  .container {
    top: 70px;
    padding-left: 115px;
  }
}
