// Navigation

//
// Variable
// __________________

$nav-active__color: #88b04b;
$nav-text__color: $nav-active__color;
$nav-hover__background-color: $nav-active__color;
$nav-hover-text__color: #ffffff;

//
// Common
// __________________

.nav-wrapper {
  z-index: 1;
  position: relative;
}

.nav {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 70px;
  width: 110px;
  background: #ffffff;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;

  a {
    text-decoration: none;
    color: $nav-text__color;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding: 10px 20px;

    &:hover {
      color: $nav-hover-text__color;
      background-color: $nav-hover__background-color;
    }
  }
}

//
// Mobile
// __________________

@media screen and (max-width: 767px) {
  .nav {
    left: initial;
    top: initial;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
